* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
#signUpPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
#root {
  height: 100%;
  background-color: #171717;
  display: flex;
  flex-direction: column;
}

#sidebar {
  border: 2px solid blue;
  width: 17.5%;
  height: 100%;
  background-color: #404040;
  border: 1px solid grey;
}

header {
  border: 2px solid red;
  background-color: #e2e8f0;
  display: flex;
  justify-content: space-between;
}

#iconsContainer {
  border: 2px solid red;
  width: 15%;
  gap: 32px;
  display: flex;

}

.headerEle  
#signUpContainer {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
#loginRoute,
#signUpBox {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #262626;
  padding: 1em;
  color: white;
}


#signUpBoxText {
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
}

#myForm{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.list-group {
  background-color: #262626;
}
.input-group {
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  top: 0;
  left: 0;
}
#carouselImage {
  position: absolute;
  left: 5em;
  border-radius: 45px;
}
#emptyScreen {
  position: relative;
  z-index: 100;
}